<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/html/CSS/all.css">
    <script src="/html/js/All/all.js"></script>
</head>

<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link pd" href="/html/aboutUs.html">GIỚI THIỆU</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pd" href="#" id="dropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        DỊCH VỤ QUAN TRẮC KHÍ TƯỢNG THỦY VĂN
                    </a>
                    <ul class="text-center dropdown-menu">
                        <li><a class="dropdown-item" href="/html/solution/solution.html?thietBiQuanTrac">
                                Dịch vụ quan trắc khí tượng thủy văn</a></li>
                        <li><a class="dropdown-item" href="http://wsm.aks.vn/dang-nhap">
                                Hệ thống giám sát trạm dữ liệu</a></li>
                        <li><a class="dropdown-item" href="/html/product/product.html?thietBiQuanTrac">
                                Thiết bị giám sát - điều khiển trạm dữ liệu</a></li>                                
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pd" href="#" id="dropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        HỆ THỐNG PHÒNG CHÁY - CHỮA CHÁY
                    </a>
                    <ul class="text-center dropdown-menu">
                        <li><a class="dropdown-item" href="/html/solution/solution.html?giaiPhapBaoChay">
                                Giải pháp quản lý cảnh báo cháy sớm</a></li>
                        <li><a class="dropdown-item" href="/html/Tech/aboutTech.html">
                                Công nghệ áp dụng</a></li>
                        <li><a class="dropdown-item" href="/html/product/product.html?thietBiBaoChay">
                                Thiết bị phòng cháy - chữa cháy</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pd" href="#" id="dropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        DỊCH VỤ AN NINH
                    </a>
                    <ul class="text-center dropdown-menu">
                        <li><a class="dropdown-item" href="/html/Security/security.html">
                                Dịch vụ an ninh</a></li>
                        <li><a class="dropdown-item" href="/html/product/product.html?thietBiCanhBao">
                                Thiết bị giám sát</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link pd" href="/html/buildingServices/bms.html">DỊCH VỤ KỸ
                        THUẬT TÒA NHÀ</a></li>
                <li class="nav-item"><a class="nav-link pd" href="/html/Contact.html">LIÊN HỆ</a></li>
            </ul>
        </div>
    </div>
</nav>