<div class="header-top">
        <a href="mailto:aksvietnam@gmail.com" class="email">aksvietnam@gmail.com | 04.3998 2227</a>
    </div>
<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center me-3" href="../index.html">
            <img src="https://res.cloudinary.com/di33kl2zd/image/upload/v1751967482/logo-ask-removebg-preview_oav1fi.png" alt="AKS Vietnam" class="logo-menu">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link pd" href="../aboutUs.html">GIỚI THIỆU</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pd" href="#" id="dropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        DỊCH VỤ QUAN TRẮC KHÍ TƯỢNG THỦY VĂN
                    </a>
                    <ul class="text-center dropdown-menu">
                        <li><a class="dropdown-item" href="../solution/solution.html?thietBiQuanTrac">
                                Dịch vụ quan trắc khí tượng thủy văn</a></li>
                        <li><a class="dropdown-item" href="http://wsm.aks.vn/dang-nhap">
                                Hệ thống giám sát trạm dữ liệu</a></li>
                        <li><a class="dropdown-item" href="../product/product.html?thietBiQuanTrac">
                                Thiết bị giám sát - điều khiển trạm dữ liệu</a></li>                                
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pd" href="#" id="dropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        HỆ THỐNG PHÒNG CHÁY - CHỮA CHÁY
                    </a>
                    <ul class="text-center dropdown-menu">
                        <li><a class="dropdown-item" href="../solution/solution.html?giaiPhapBaoChay">
                                Giải pháp quản lý cảnh báo cháy sớm</a></li>
                        <li><a class="dropdown-item" href="../Tech/aboutTech.html">
                                Công nghệ áp dụng</a></li>
                        <li><a class="dropdown-item" href="../product/product.html?thietBiBaoChay">
                                Thiết bị phòng cháy - chữa cháy</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pd" href="#" id="dropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        DỊCH VỤ AN NINH
                    </a>
                    <ul class="text-center dropdown-menu">
                        <li><a class="dropdown-item" href="../Security/security.html">
                                Dịch vụ an ninh</a></li>
                        <li><a class="dropdown-item" href="../product/product.html?thietBiCanhBao">
                                Thiết bị giám sát</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link pd" href="../buildingServices/bms.html">DỊCH VỤ KỸ
                        THUẬT TÒA NHÀ</a></li>
                <li class="nav-item"><a class="nav-link pd" href="../Contact.html">LIÊN HỆ</a></li>
            </ul>
        </div>
    </div>
</nav>